<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <a href="/leads/">return to leads list<a/>
    <h1>Details of {{lead.first_name}}</h1>
    {{lead}}
    <p>Agent responsible for lead {{lead.first_name}} is {{lead.agent}}<p/>
    <a href="{% url 'leads:lead-update' lead.pk %}">Update<a/>
    <a href="{% url 'leads:lead-delete' lead.pk %}">delete<a/>
</body>
</html>